.center {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(0, -50%);
    border: 5px;
    padding: 10px;
    height: 350px;
    width: 350px;
    /* overflow-x: auto;
    white-space: nowrap; */
}

.d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}