<!-- <p>header works!</p> -->
<p>
    <!-- <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
        </button> -->
    <!-- <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
        <span>&nbsp;&nbsp;</span>
        <span>My App</span>
        <span class="example-spacer"></span>
    </mat-toolbar> -->
    <mat-toolbar color="primary">
        <div class="center-icon">
            <button mat-icon-button color="primary" class="example-icon white-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon> -->
        <span class="example-spacer"></span>
        <span>Website todo</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</p>