.white {
    background-color: #fff;
}

.example-spacer {
    flex: 1 1 auto;
}

.done-li {
    margin-right: 50px;
}

.ul-div {
    height: 250px;
    width: 350px;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 15%;
    padding-top: 16%;
    line-height: 2.5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
}

#not-done {
    margin-top: 0;
    padding-top: 0;
}

#done {
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: line-through;
}

li {
    color: #673ab7;
    font-size: 18px;
}

li span {
    color: black;
    font-size: 16px;
}

mat-icon {
    line-height: 1.8;
    font-size: 20px;
}

button.mat-raised-button {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 120px;
    /* position: absolute; */
    top: 50%;
    left: 32%;
    transform: translate(0, -50%);
    /* border: 5px; */
    /* padding: 10px; */
}