<!-- <div class="container">
    <h1>Will's Summer To-Do List</h1>
    <div class="items">
        <input id="item1" type="checkbox" checked>
        <label for="item1">Create a to-do list</label>

        <input id="item2" type="checkbox">
        <label for="item2">Take down Christmas tree</label>

        <input id="item3" type="checkbox">
        <label for="item3">Learn Ember.js</label>

        <input id="item4" type="checkbox">
        <label for="item4">Binge watch every episode of MacGyver</label>

        <input id="item5" type="checkbox">
        <label for="item5">Alphabetize everything in the fridge</label>

        <input id="item6" type="checkbox">
        <label for="item6">Do 10 pull-ups without dropping</label>

        <h2 class="done" aria-hidden="true">Done</h2>
        <h2 class="undone" aria-hidden="true">Not Done</h2>
    </div>
</div> -->
<!-- <mat-card>
    <mat-card-content>
        <section class="example-section">
            <mat-radio-group>
                <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
            </mat-radio-group>
        </section>
    </mat-card-content>
</mat-card>
<mat-checkbox color="primary">Regular checkbox</mat-checkbox>
<mat-checkbox class="custom-frame">Circular checkbox</mat-checkbox> -->
<div class="white">
    <div class="ul-div">
        <ul type="disc" id="done">
            <li><span class="done-li">Styleguide Creation</span>
                <mat-icon>delete</mat-icon>
            </li>
        </ul>
        <ul type="circle" id="not-done">
            <li><span>Send Wireframes</span></li>
            <li><span>Readability About Page</span></li>
            <li><span>Check color contrast</span></li>
        </ul>
    </div>
    <button mat-raised-button color="primary">+ New Task</button>
    <!-- <button mat-button color="primary">Primary</button> -->
</div>